<!DOCTYPE html>
<body>
    <form action="/add" method="POST">
        <label>Nome</label>
        <input type="text" name="nome">
        
        <label >Quantidade</label>
        <input type="number" name="qtde">

        <label >Valor</label>
        <input type="number" name="valor">

        <button type="submit">Enviar Dados</button>
    </form>
  <script src="server.js"></script>
</body>